<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Pagina Web usando Node.js</title>
</head>
<body>
    <h1>Hola Mundo</h1>
    <ul>
        <li><span>Nombres: </span> Sebastian Alberto</li>
        <li><span>Apellidos: </span> Herrera Laya</li>
        <li>Cedula: 30.659.038</li>
        <li>Seccion: 3</li>
    </ul>
</body>
</html>