body {
    background-color: #000;
    background:url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}